body {
  font-family: sans-serif;
  background: #000;
  background: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
  background-size : 600vh 600vh;
  animation : gradient 25s ease infinite;

}

@keyframes gradient {
0% {
background-position: 0% 50%;
}
50% {
background-position: 100% 50%;
}
100% {
background-position: 0% 50%;
}
}

.app {
  text-align: center;

}

/* .anim_gradient {
  background: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
          background-size : 100vh 100vh;
          animation : gradient 25s ease infinite;
      }
        
  @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }; */